

.advertisement {
	width: 500;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.advertisement_main {
	width: 1344;
	height: 1008;
	flex-shrink: 1;
}

.advertisement_sub {
		flex-shrink: 1;
	
}