
.orderHistory_table {
	border:1px solid black;
	display: flex;
    justify-content: center;  
}

.orderHistory_table td {
	height: 50px;
	width: 100px;
	border:1px solid black;
	text-align: center;
}

