<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.advertisement">
<!-- 리절트 맵 정의 -->	
	<resultMap id="advertisementResult" type="AdvertisementVO">
		<result property="advertisement_id" column="advertisement_id" />
	    <result property="fileName" column="fileName" />
	    <result property="fileType" column="fileType" />		
		<result property="advertisement_credate" column="advertisement_credate" />
	</resultMap>	


	
   
      <select id="selectAdvertisementList" parameterType="String" resultMap="advertisementResult"   >
        <![CDATA[
        select * 
		from advertisement
		order by advertisement_id asc
	    ]]>
	</select>
	
	
	

</mapper>
