<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mappers.goods-mapper">
<!-- 상품 목록 -->	

	<select id="goodslist" resultType="com.goods.domain.GoodsVO">
		select
			gdsNum, gdsName, cateCode, gdsPrice, gdsStock, gdsDes, gdsImg, gdsDate,gdsThumbImg
	    from tbl_goods
	        order by gdsNum desc
	</select>
	
	<!-- 상품 조회 -->
	<select id="goodsView" resultType="com.goods.domain.GoodsVO">
		select gdsNum, gdsName, cateCode, gdsPrice, gdsStock, gdsDes, gdsImg, gdsDate,gdsThumbImg
    		from tbl_goods
        		where gdsNum = #{gdsNum}
	</select>
	 
</mapper>