<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="memberDao">
	<!-- 회원가입 -->
	<insert id="insert" parameterType="memberVO">
		insert into MEMBERINFO (memId, memPw, memName, memGender, memBirth, memPhone, memEmail, memPostCode, memRoadName, memDetail)
		values (#{memId}, #{memPw}, #{memName}, #{memGender}, #{memBirth}, #{memPhone}, #{memEmail}, #{memPostCode}, #{memRoadName}, #{memDetail})
	</insert>
	
	<!-- 로그인할 때 id가 필요 -->
	<select id="selectById" parameterType="String" resultType="memberVO">
		select * from MEMBERINFO where memId=#{memId}	
	</select>
	
	<!-- 마이페이지 - 회원정보수정 -->
	<update id="update" parameterType="memberVO">
		update MEMBERINFO set memPw=#{memPw}, memPhone=#{memPhone}, memEmail=#{memEmail}, memPostCode=#{memPostCode}, memRoadName=#{memRoadName}, memDetail=#{memDetail}
		where memId=#{memId}
	</update>
	
	<!-- 회원탈퇴 -->
	<delete id="delete" parameterType="memberVO">
		delete from MEMBERINFO where memId=#{memId}
	</delete>
	
	<!-- 회원 전체 리스트 -->
	<select id="list" resultType="memberVO">
		select * from MEMBERINFO where memId not in ('system')
	</select> 
</mapper>
