<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    <mapper namespace ="orderListmapper">
    		<!-- 전체 주문목록 조회 -->
    <select id="selectList" resultType="com.admin.order.domain.AdminOrderListVO" >
    	select * from SYSTEM.ORDERLIST
    </select>   
 	
 			<!-- 조건별 주문목록 조회 -->
 	<!-- 진행상태 : 주문접수  , 결제완료  , 배송준비중 -->
    <select id="selectList1" parameterType="String" resultType="com.admin.order.domain.AdminOrderListVO" >
    	select * from SYSTEM.ORDERLIST where ORDER_STATE=#{orderUrl}
    </select> 
 
 
 	
 			<!-- 주문번호에 대한 고객정보 및 배송정보 조회 -->
 	<select id="selectOrderNum" resultType="com.admin.order.domain.AdminOrderListVO" >
 	  	select *(배송테이블에서 불러올 정보) from delivery where where ORDERNUM=#{orderNum}
    	select *(주문목록테이블에서 불러올정보) from SYSTEM.ORDERLIST where ORDERNUM=#{orderNum}
    	select *(고객정보테이블에서 불러올정보) from SYSTEM.ORDERLIST where ORDERNUM=#{orderNum}
    	를 조인한 결과 표시.
    	<!-- 조건:주문번호  -->
    </select> 
 
    
    
    <!--
    
    <select id="selectOrderState_name" resultType="com.admin.order.domain.AdminOrderListVO" >
    	select * from SYSTEM.ORDERLIST where MEMID = #{MEMID}
    </select>
    

    
    <select id="selectOrderState_date" resultType="com.admin.order.domain.AdminOrderListVO" >
    	select * from SYSTEM.ORDERLIST where ORDER_DATE >= #{date1} AND ORDER_DATE <= #{date2}
    	
    	select count(*) as cnt(만들어질 카운트 애트리뷰트) from SYSTEM.ORDERLIST where ORDER_STATE='주문접수'
    	
    </select>
    
    -->

    
    </mapper>